#w-container{
    justify-content: center;
    align-items: center;
    width: 13%;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
    padding-left: 5%;
    padding-right: 5%;
    border-color: black;
    position: fixed;
}

#w-container a{
    display: block;
    color: black;
    text-decoration: none;
}

#w-container a.active{
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}


#w-container a:hover:not(.active) {
    background-color: #555;
    color: white;
}

@media screen and (max-width: 700px) {
    #w-container {
      width: 100%;
      height: auto;
      position: relative;
    }
    #w-container a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    #w-container a {
      text-align: center;
      float: none;
    }
}

#profile-img-container{
    margin-top: 5vh;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}

#profile-img{
   width: 150px;
   height: 150px;
}

#barText{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#barText h4{
    font-size: 1.2em;
    margin-bottom: 0;
}

#barText text{
    font-size: 1.1em;
    margin-top: 0;
}

#b-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.b-bar{
    display: flex;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
    padding: 2%;
    border-radius: 8px;
    padding: 5%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: #A6BFD8;
    border: none;
    color: white;
}

.header-img{
    width: 30px;
    height: 30px;
    margin-left: 1vh;
}

.b-bar:active{
    background-color: #158ecf;
}

.b-bar:hover{
    background-color: #158ecf;
}

.b-bar:focus{
    background-color: #158ecf;
    outline: none;
}