.container{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.login_box_primary{
    background-color: #f9f9f9;
    padding: 16px;
    width: 25%;
    display: flex;
    flex-direction: column;
}
.login_box{
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #d8dee2;
    width: 80%;
    display: flex;
    align-self: center;
}
.login_box_secundary{
    flex-direction: column;
    padding: 80px 16px 16px;
}
.login_box_secundary2{
    padding: 16px 16px 16px;
    margin-top: 16px;
}
.button_sigin{
    color: #fff;
    background-color: #2ea44f;
    border-color: rgba(27,31,35,.15);
    box-shadow: 0 1px 0 rgba(27,31,35,.1),inset 0 1px 0 hsla(0,0%,100%,.03);
    padding: 10px;
}
.button_register{
    right: 16px;
    color: blue;
}
input:focus{
    border-color: #0366d6;
    outline: none;
    box-shadow: 0 0 0 3px rgba(3,102,214,.3);
}
input{
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    line-height: 30px;
}
input, button{
    margin: 4px;
    border-radius: 6px;
    padding: 5px 12px;
}
.img_sigin{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 64px;
}

#i-letter{
    font-size: 1.5em;
    color: #F60C87;
}

.l-letter{
    font-size: 1.5em;
    color: #509FCB;
}

#w-letter{
    font-size: 1.5em;
}